@page "/"

@inject NavigationManager NavigationManager

<h1>Blazor User Management Application</h1>

<TelerikButton OnClick="@GoToUserList">User List</TelerikButton>

@code {
    private void GoToUserList()
    {
        NavigationManager.NavigateTo("UserList");
    }
}